*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
    /* font-family: sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav_bar{
   
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}
nav{
   flex: 1;
   margin-top: 20px;
   text-align: right;
}
 nav ul{
    display:inline-block;
    list-style: none;

}
nav ul li{
    display:inline-block;
    margin-right: 40px;
    font-weight: 600;
    color: white;
}

a{
    text-decoration: none;color:black;
}
.logo{
    padding-top: 10px;
    padding-left: 10px;
    height: 80px;
}
.logo img{

 height: 64px;
}
.header{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    margin-top: -1.1rem;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    /* flex-direction: row;
    flex-basis: 25%; */
}

.col-2{
   
flex-basis: 50%;
min-width:300px;
}
.col-2 img{
    max-width:80%;
    padding: 5px 0px;
    transition: 1s;
    transform: scale(1);
    margin-left: 3rem;
    
}

.col-2 img:hover{
    transform: scale(1.06);
}
.col-2 h1{
    color: rgb(3, 6, 3);
    font-size:3.3vw;
    display: block;
    font-weight: 600;
    width: 100px;
    line-height: 60px;
    margin: 50px 0px;
    margin-top: 4.5rem
    
}
.btn{
    display:inline-block;
    background-color: rgb(163, 49, 49);
    color: white;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 20px;
}
.btn:hover{
    background-color: white;
  color: black;
}
.header{
   
    background: radial-gradient(#63ace585,#1ad40042);
}

.col-4{
    padding: 10px;
    height: 16rem; 
    margin-top: 25px;
     overflow: hidden;
    position: relative;
    flex-basis:33%;
    text-align: center;
    justify-content:space-between;
    border-radius: 8px;
    box-sizing: border-box;
    bottom: 20px;
  

}
.feature{
    display: flex;
    margin: auto;
    width: 85%;
    /* justify-content: center;
    align-items: centre; */
}


/*.........................Our Feature heading starts here ..........................*/
.our_feature{
    bottom: 4vh;
    padding-top: 5vh;
    text-align: center;
    margin-left:40px;
    justify-content: center;
    color:black;
    font-weight: 600;
    line-height: 60px;
    font-size: 2.5rem;
    margin-top: 45px;
    margin-bottom: 20px;
    position: relative;
}

.our_feature:hover{
    color:blue;
      opacity: 1;
}
.our_feature::after{
    content: '';
    background-color: rgb(21, 255, 0);
    width:55px;
    background:linear-gradient(rgba(141, 240, 12, 0.1),rgb(237, 6, 6));
   border-bottom-left-radius: 26px;
   border-top-right-radius: 22px;
    
    height:1.6rem;
    position: absolute;
    bottom: 2rem;
    transform:rotate(-45deg) translateX(-100px) translateY(-117px);
    /* transform: rotate(-30deg); */
}
/*.................................Our Feature ends here .......................*/


.header nav ul li:hover{
    display: inline-block;
    border: 0px solid red;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    box-shadow:2px solid red;
}

/*...................................responsiveness.................................*/
@media (max-width:720px) {
   .col-4{
       flex-basis: 100%;
       margin-bottom: 10px;
   } 
   .review-box{
    flex-basis:100%;
    margin-bottom: 10px;
}
.col-2 h1{
    margin-top: 40px;
    font-size:25px ;
    line-height: 30px;
} .row .col-2 h1{
    font-size: .8rem;
}
.logo img{
    height: 40px;
}
.our_feature{
    font-size: 1rem;
}
.col-2 img{
    margin-left:4rem;
}

.feature-text{
    font-size: 10%;
}

.features-desc{
    flex-basis: 100%;
    margin-right: -110px;
}
.social-media {
    margin-top: 20px;
    width: 300px;
    margin-left: 3rem;
}



}
@media (max-width:720px) {
    .reviews{
        flex-direction:column;
     }
     .footer-col-2{
         flex-basis: 100%;
     }
     .footer-box{
        height: 95vh;
        width: 96%;
    }
    .features{
        flex-direction: column;
        
    }
    .feature-image img{
        margin-left: -8rem;
        flex-basis: 100%;
        width: 180%;
        border-radius: 10px;
    }
    .copyright{
      margin-top: 30vh;
      flex-direction:right;
      font-size: .5rem;
    }

}



/*.................................responsiveness ends here.........................*/

.images{
   /* position: absolute; */
   width: 100%;
   height: 100%;
   left: 0px;
   top: 0px;
   
}


.para{
    color:white;
    position: absolute;
    margin-top:-20%;
    opacity: 0;
    transition: 1s;
  
    /* transition: .2s;*/
}
.para p{
    font-size: 14px;
    background-origin: 8px;
    /* opacity: 1; */
}
hr{
    background-color: white;
    height: 2px;
    border: 0;
    margin: 5px auto;
    width: 45%;

}
.col-4:hover .para{
    margin-top:25%;
    opacity: 1;

}
 
.background{
    width: 96%;
    height: 97%;
    position:absolute;
    /* top: 10px; */
    margin: 0px;
    border-radius: 10px;
    background:linear-gradient(#1398c189,rgba(172, 103, 29, 0.9));
    opacity: 0;
    transition: 1s;
}
.col-4:hover .background{
    opacity: 1;
    cursor: pointer;

   
}

/*..........................auto typing effect starts here.............................. */
.auto_typing {
    width: 100PX;
    border-right: solid .2rem black;
    white-space: nowrap;
    overflow: hidden;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:25px;
  }
  
  .auto_typing {
    animation: sonal 8s steps(60)  forwards,
               sonu 600ms steps(23) infinite;
               
  }
  
  
  @keyframes sonal{
    from{width: 0;}
    to{width:50vw;}
  }
  
  @keyframes sonu{
    from{border-right-color:black}
    to{border-right-color: transparent;}
  }
  /*........................... auto-typing ends here.................................. */


/*.................................Feature Description starts here...................*/

.feature-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    align-items: center;
    /* flex-direction: column; */
}


 .features{
     flex-basis: 50%;
 } 
 .feature-image{
     flex-basis: 50%;
     width: 88%;
     margin: auto;
 }
 .features h1{
     /* display: inline-block; */
     text-align: left;
     font-size:30px;
     margin-bottom: 20px;
     font-weight: 600;
     /* border-bottom: 2px solid red; */
     color: skyblue;

 }
 .features-desc{
     display: flex;
     margin-bottom: 40px;
     align-items:center;
 }
 
.feature-icon img{
    padding: 1px 0px;
    width:7rem;
    height:7rem;
}

 .feature-image{
     width: 100%;
     height:100%;
     margin: auto;
     transition: 1s;
     border-radius: 1vw;
 }
 .feature-image img {
    width: 25rem;
    border-radius: 10px;
    margin-left: 1vw;
    margin: auto;
    max-width: 74vw;
}

.feature-image:hover{
    transform: scale(1.08);
}
.feature-image:hover img{
    border: 1px solid black;
    box-shadow:3px 3px 11px rgb(2, 4, 2);
   
}

.bi-li{
    font-size: 5rem;
    color:white;
    display: none;
}
.feature-text p{
    /* margin-left:3vw; */
    margin-right: 8rem;
    text-align: left;
    line-height: 1.2vw;
}

/*...............................reviews...............................*/
.big-box{
    margin-top: 20px;
    width: 100%;
    padding-bottom:2rem;
    /* border-radius: 2rem; */
    /* border-top-left-radius: 20px; */
     background:linear-gradient(white,#6c9e99);
     /* position: relative;*/
} 
.big-box::after{
    content: '';
    position: absolute;
    width: 30rem;
    height: 2.6rem;
    /* background-color: rgb(197, 238, 16); */
    background:linear-gradient(rgb(94, 53, 141),rgb(164, 35, 35),green);
    border-bottom-left-radius:0%;
    border-top-right-radius: 100%;
    margin-top: 10px;
    

}
@media (max-width:720px) {
    .big-box::after {
        content: '';
        position: absolute;
        width: 20rem;
        height: 1.6rem;}
    
}

/* ............................for javascript navbar........................ */
@media(max-width:720px) {
    #majalo{
 
        list-style: none;
        display:none;
        margin-left: -64px;
        /* display: flex; */
        flex-direction: column;
        position: absolute;
        margin-left: -57px;
        width: 8rem;
        margin-top: 0px;
        height: 19.2rem;
        margin-right: 10px;
        background-color: #1ae82b5b;
      transition: 5s;}
   .logo{
       display: none;
   }     
  a.list{
        text-decoration: none;
        color: white;
        margin: 28px;
        margin-left:-1rem;
        display: inline-block;
        /* background: none; */
    }
    .bi-li{
        display: inline-block;
        font-size: 3rem;
    }
    .listwala{
        border: 2px solid red;
    }
    div.sonal{
        margin-left: 80%;
    }
    .header nav ul li:hover{
        /* display: inline-block;
        border: 0px solid red; */
        box-sizing: border-box;
        display: inline-block;
        background-color: transparent;
        /* border-radius: 5px;
        padding: 1rem;
        box-shadow:2px solid red; */
    }
    .col-2 p{
        line-height: 2rem;
    }
    
.feature-text p{
    font-size: 1rem;
    line-height: 1.3rem;
}
.feature-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
  
}




/* ..............................ends here................... */


.reviews{
    width: 80%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}
.review-box{
    background-color:transparent;
    border:.01rem solid;
    border-color:skyblue;
    flex-basis: 30%;
    transform: scale(1);
    transition: 1s;
    padding: 10px 10px;
    border-radius: 20px;
   /* overflow: hidden; */

}
.review-box:hover{
    box-shadow:5px 5px 10px rgb(88, 99, 88);
    transform: scale(1.1) translateX(8px);
    margin-bottom: 20px;

}
.all{
    display:flex;
    margin-bottom: 20px;
}
.all img{
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1rem;
    border-radius: 50%;
}
.review-name{
    padding-left: 1rem;
    margin-right: 30px;
    /* padding-top: 20px; */
    text-align:left;
}

.bi{
    height:50px;
    width: 30px;
    color: goldenrod;
}
.review-text{
    text-align: left;
    line-height: 2rem;
}
.quota{
    width: 50px;
    height: 50px;
    color: black;
    
}
.review-text i{
   font-size: 50px;
   font-weight: 600;
  color: black;
}

/* .......................................Footer-Box.................................... */

.footer-box{
    width: 100%;
    border-bottom-left-radius:16rem;
     background: linear-gradient( white,black);
    margin: auto;
    text-align: center;
    align-items: center;
 
   
}
.footerback{
    background-color: rgb(11, 12, 11);
   
}

.footer{ padding-bottom:2rem;
 display: flex;
    width: 90%;

    height: 23rem;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-top: 20px;
}
.footer-col-1{
    flex-basis:24% ;
    padding-top: 3rem;
    color: white;
}
.footer-col-1 h2{
   padding-bottom:2rem;
}

.footer-col-2{
  
    flex-basis:46% ;
    height: 7rem;
    color: white;
}
.footer-col-3{
    padding-top: 1rem;
    flex-basis: 25%;
    color: white;
}
.footer-col-3 img{
    width:8vw;
    height: 3vw;

}
.copyright{
    margin-right: 3rem;
    text-align: right;
    font-size:1rem;
    color: white;
}
.social-media{
   margin-top: 20px;
   
}
.social-media i{
   padding: .2rem .2rem;
    font-size: 2rem;
    
}
.social-media i:hover{
    color: white;
}


/* .....................Leave Contact Detail .........................*/
.query-box{
    width: 100%;
    /* background: linear-gradient(rgb(168, 66, 66) ,white); */

}
.query{
    width: 80%;
    margin: auto;
    font: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */

    
}
.query input{
    display: block;

}
.button{
    height: 4rem;
}
.button button{
    width: 2px;
    display: flex;
    margin:auto;
    border-radius: 2rem;
    background:linear-gradient(skyblue,yellow);
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem;
   padding-top: .7rem;
   padding-bottom:1%;
   padding-right: 9rem;
   padding-left: 5rem;
   cursor: pointer;
}
.query input{
    
    width: 17rem;
    height: 2.3rem;
}
.query input::placeholder{
   
    color: red;
    padding-left: 23%;
    font-weight: 400;
    font-size: 1.1rem;


}
